<h1>Listing spendings</h1>

<%= link_to 'Registreer een uitgave', new_spending_path %>

<div class="data_container">
<table class="data spendings">
  <tr>
    <th>#</th>
    <th>Datum</th>
    <th>Bedrag (inc BTW)</th>
    <th>Bedrag (ex BTW)</th>
    <th>BTW</th>
    <th>Geldbron</th>
    <th>Commentaar</th>
    <th></th>
  </tr>
  <%= render :partial => @spendings %>
</table>
</div>

<%= link_to 'Registreer een uitgave', new_spending_path %>
