// -*- Mode: SCSS; tab-width: 4; indent-tabs-mode: true; c-basic-offset: 4 -*-

textarea {
	width: 500px;
	height: 100px;
}

input[type="text"],
input[type="number"],
textarea {
	background: rgb(232,232,232); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 16px, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(16px,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 16px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 16px,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 16px,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 16px,rgba(255,255,255,1) 100%); /* W3C */
	
	border: 1px solid #b0b0b0;
	padding: 4px;
	font-size: 0.85em;
	@include BorderRadius(4px);
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 0.85em;
	padding: 6px 12px 6px 12px;
}

form {
	.field {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	
	.actions {
		margin-top: 24px;
		
		.group {
			display: inline-block;
			margin-left: 30px;
		}
	}
}

#error_explanation {
	background: #f9aaaa;
	border: solid 1px #f37979;
	padding: 12px;
	font-size: 80%;
	margin-left: 18px;
	margin-right: 18px;
	@include BorderRadius(3px);
	@include BoxShadow(0px 0px 1px black);
	
	h2 {
		font-size: 120%;
		margin: 0 0 0.5em 0;
	}
	
	ul {
		margin: 0.5em 0 0 1em;
	}
	
	ul, li {
		font-size: inherit;
	}
}

.field_with_errors {
	display: inline;
	
	label {
		color: red;
	}
}

